* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 6.25%;
  font-family: "Source Serif 4";
}

body {
  padding: 55rem 32rem;
  font-size: 16rem;
  background: #ffffff;
  color: #a54328;
}

main {
  max-width: 320rem;
  margin-inline: auto;
  box-sizing: content-box;
}

main img {
  width: 100%;
}

main h1 {
  font-weight: 700;
  font-size: 28rem;
  line-height: 36rem;
}

main p,
li {
  font-weight: 400;
  font-size: 13rem;
  line-height: 18rem;
}

.recipeInfo {
  display: flex;
  flex-direction: column;
  width: 308rem;
  gap: 47rem;
  margin-bottom: 34rem;
}

.recipeMethod {
  display: flex;
  flex-direction: column;
  width: 318rem;
}

.recipeMethod h1 {
  margin-bottom: 36rem;
}

.recipeMethod ul,
ol {
  padding-left: 24rem;
  margin-bottom: 18rem;
}

button {
  color: #ffffff;
  background-color: #a54328;
  border: 0;
  border-radius: 6rem;
  width: 94rem;
  height: 32rem;
  margin-bottom: 8rem;

  font-weight: 500;
  font-size: 10rem;
  line-height: 18rem;
}

@media (min-width: 770px) {
  body {
    padding: 95rem 145rem;
  }
  main {
    display: flex;
    gap: 190rem;
    max-width: 1140px;
  }

  main p,
  li {
    font-weight: 400;
    font-size: 13rem;
    line-height: 18rem;
  }

  main h1 {
    font-weight: 700;
    font-size: 40rem;
    line-height: 50rem;
  }

  main p,
  li {
    font-weight: 400;
    font-size: 20rem;
    line-height: 25rem;
  }

  .recipeInfo {
    width: 435px;
  }

  .recipeMethod {
    width: 525px;
  }

  button {

    border-radius: 8rem;
    width: 134rem;
    height: 45rem;
    margin-top: 24rem;

    font-weight: 500;
    font-size: 14rem;
    line-height: 24rem;
  }
}
